@import '../../scss/assets/colors';

.post {
    width: 100%;
    box-shadow: 0 9px 16px 0 rgba(16, 24, 50, 0.39);
    border-radius: 20px;
    background: $--white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    .postTop {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        .mark {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background-color: $--black;
            color: $--white;
            margin-right: 20px;
        }
        .postTitle {
            font-size: 18px;
            color: #000;
            text-transform: uppercase;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            line-height: 1.3em;
            height: calc(1.3em * 3);
        }
    }
    .postText {
        margin-bottom: auto;
        color: $--violet;
        // height: calc(1.3em * 4);

        &.longText {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
        }
    }
    .button {
        border-radius: 5px;
        border: 1px solid $--black;
        padding: 5px;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-size: 14px;
        margin-top: 10px;
        transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
        &:hover {
            color: $--white;
            background-color: $--black;
        }
    }
}
